@import "shared.less";

.container {
  position: relative;
}

.header {
  overflow: hidden;
}

.bordered {
  border-top: @border-line;

  .header {
    border-bottom: @border-line;
  }

  .header-cell-container {
    position: relative;
  }

  .border {
    position: absolute;
    top: 0;
    right: -1px;
    bottom: 0;

    width: 1px;
    background: @grey;
  }

  .header-border-left {
    position: absolute;
    top: 0;
    left: 0;
    border-left: @border-line;
  }

  .header-border-right {
    position: absolute;
    top: 0;
    right: 0;
    border-right: @border-line;
  }

  .freezed-right {
    border-left: @border-line;
  }

  .sub-table-divider {
    border-top: @border-line;
  }
}

.freezed {
  position: absolute;
  top: 0;
  background: white;
}

.freezed-left {
  &:extend(.freezed);
  left: 0;
}

.freezed-right {
  &:extend(.freezed);
  right: 0;
}

.header-cell-container {
}
